@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --background-clr-1: radial-gradient(
    circle,
    hsl(215, 18%, 25%) 0%,
    hsla(215, 18%, 15%, 1) 90%
  );
  --background-clr-2: #3e46539c;
  --text-clr-1: #0e819e;
  --text-clr-2: #e0e0e0;
}

.lightmode {
  --background-clr-1: radial-gradient(
    circle,
    hsla(37, 25%, 86%, 1) 4%,
    hsla(37, 13%, 73%, 1) 75%
  );
  --background-clr-2: #e0dcd39f;
  --text-clr-1: #94ac94;
  --text-clr-2: #474747;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background-clr-1);
  font-family: "Roboto", sans-serif;
  color: var(--text-clr-2);
  transition: all 0.5s ease-in-out;
}

.joke-app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.joke-app__title {
  font-family: "Bangers", sans-serif;
  color: var(--text-clr-1);
  font-size: 2.5rem;
  letter-spacing: 2px;
  margin: 3rem 0 2rem 0;
}

.theme-toggle-btn {
  cursor: pointer;
}
.theme-toggle-btn__input {
  position: absolute;
  top: -1rem;
  opacity: 0;
}
.theme-toggle-btn__input:checked ~ .theme-toggle-btn__icon.theme-toggle-btn__icon--sun {
  display: block;
}
.theme-toggle-btn__input:checked ~ .theme-toggle-btn__icon.theme-toggle-btn__icon--moon {
  display: none;
}
.theme-toggle-btn__icon {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 32px;
  height: 32px;
}
.theme-toggle-btn__icon--sun {
  stroke: var(--text-clr-1);
  display: none;
}
.theme-toggle-btn__icon--moon {
  fill: var(--text-clr-1);
}

.current-joke {
  width: 90%;
  background-color: var(--background-clr-2);
  border-radius: 16px;
  padding: 1.5rem;
  margin-bottom: 1rem;
  box-shadow: rgba(34, 34, 34, 0.6117647059) 0px 20px 20px -18px;
}
.current-joke__text {
  font-size: 1.5rem;
  text-wrap: pretty;
  line-height: 1.5;
}
.current-joke__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.5rem;
}
.current-joke__new-btn {
  background-color: var(--text-clr-1);
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 16px;
  border: none;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
}
.current-joke__new-btn:hover {
  background-color: var(--text-clr-2);
  color: var(--text-clr-1);
  transition: all 0.2s ease-in-out;
}
.current-joke__save-btn {
  fill: var(--text-clr-2);
  cursor: pointer;
}
.current-joke__save-btn--saved {
  fill: var(--text-clr-1);
  cursor: pointer;
}
.current-joke__save-btn:hover {
  fill: var(--text-clr-1);
  transition: all 0.2s ease-in-out;
}

.saved-jokes {
  width: 69%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
}
.saved-jokes__subtitle {
  font-family: "Bangers", sans-serif;
  color: var(--text-clr-1);
  letter-spacing: 2px;
  margin-bottom: 0.75rem;
}
.saved-jokes__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding-bottom: 4rem;
}
.saved-jokes__saved-joke {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  background-color: var(--background-clr-2);
  border-radius: 16px;
  text-wrap: pretty;
  padding: 1rem;
  gap: 1rem;
  box-shadow: rgba(34, 34, 34, 0.6117647059) 0px 20px 20px -20px;
}
.saved-jokes__saved-joke--saved {
  fill: var(--text-clr-1);
  cursor: pointer;
}
.saved-jokes__saved-joke--saved:hover {
  fill: var(--text-clr-2);
  transition: all 0.2s ease-in-out;
}

/*# sourceMappingURL=main.css.map */
